* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100; /* Always behind everything */
    background: azure url(/images/singapore.jpg) center;
    opacity: 0.3;
    width: 100%;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.login {
    position: relative;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #52C79E;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 3px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    float: right;
}

.login:hover {
    background-color: #5AD6AB;
    -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#logo {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.col-1 {
    float: left;
    width: 56%;
    margin-left: 70px;
    font-family: 'Kreon', serif;
    font-size: 18px;
    display: inline-block;
}

.col-2 {
    margin-top: 40px;
    padding: 50px;
    border-left: 1px solid #808080;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Economica', sans-serif;
    display: inline-block;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

.border {
    border-bottom: 1px solid #808080;
    margin: 10px 200px;
}

#storyform input{
    color: #FFFFFF;
    font-weight: bold;
    background-color: #52C79E;
    display: block;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 3px;
}

#storyform input:hover {
    background-color: #5AD6AB;
    -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.line {
    width: 100%;
}

textarea {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    width: 60%;
}

.monthform2 {
    width: 20%;
    display: inline;
}

.yearform2 {
    display: inline;
}

.clearfix{
    clear:both;
}

footer {
    text-align: center;
    margin-top: 100px;
    padding: 10px;
}

#copyright {
    font-weight: lighter;
    text-align: center;
    border-top: 1px solid #808080;
    font-size: 15px;
    padding: 20px;
}

#home {
color: #FFFFFF;
    font-weight: bold;
    background-color: #52C79E;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    margin: 20px auto 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 3px;
}

#home:hover {
    background-color: #5AD6AB;
    -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

@media all and (max-width: 500px){

    .col-1 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .col-2 {
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
    }
    .monthform2 {
        width: 100%;
    }
    .yearform2 {
        width: 100%;
    }
}